name: Go

on:
  push:
    tags:
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.12
    - name: GoReleaser Action
      uses: goreleaser/goreleaser-action@v2.6.1
      with:
        args: release --rm-dist
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - name: Upload assets
      uses: actions/upload-artifact@v2
      with:
        name: gojsontoyaml
        path: dist/*
